.luxury {
  padding-top: 50px;
}

@media (max-width: 1200px) {
  .luxury {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .luxury {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.luxuryContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

@media (max-width: 1200px) {
  .luxuryContent {
    padding-top: 30px;
  }
}

.luxuryContentImg {
  width: 100%;
  height: 520px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .luxuryContentImg {
    height: 295px;
  }
}

@media (max-width: 768px) {
  .luxuryContentImg {
    width: 280px;
    height: 293px;
    object-position: left;
  }
}

.luxuryCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}

@media (max-width: 768px) {
  .luxuryCards {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.luxuryCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

@media (max-width: 1200px) {
  .luxuryCard {
    gap: 15px;
  }
}

.luxuryCardTitle {
  color: rgba(231, 231, 231, 1);
  font-family: 'Gilroy';
  font-size: 28px;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: 0%;
}

@media (max-width: 1200px) {
  .luxuryCardTitle {
    color: rgba(231, 231, 231, 1);
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 800;
    line-height: 125%;
    letter-spacing: 0%;
  }
}

.luxuryCardItem {
  width: 510px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Gilroy';
  font-size: 20px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0%;
}

@media (max-width: 1200px) {
  .luxuryCardItem {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: 0%;
    width: 295px;
  }
}

@media (max-width: 768px) {
  .luxuryCardItem {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0%;
    width: 280px;
  }
}
